
/* ==== Scroll down to find where to put your styles :) ==== */

/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: none; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea {  color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #0a8ec0; text-decoration: none; }
a:hover { color: #000;}

/*
    // ========================================== \\
   ||                                              ||
   ||             Author: Jacob Fierro             ||
   ||                                              ||
    \\ ========================================== //
*/

html, body {
	height: 100%;
}

body {
	font-size: 100%;
	font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2",serif;
	color: #454545;
	background-color: #555555;
}

/* --- PAGE STRUCTURE & GRID --- */
#wrap {
	width: 100%;
	min-height: 100%;
 	background-attachment: fixed;
	background-image: url(../img/overlay.gif);
	padding-bottom: 25px; /* kludge */
}

#wrap-inner {
	margin: 0px auto;
	padding: 0px 20px;
	max-width: 62.5em; /* 1000px*/
	position: relative;
}

.context {
	float: left;
	width: 38%; /* 400px */
	border-bottom: 3px solid #000000;
	padding: 20px 4%; /* 4% = 40px */
	background: #ffffff;
}

.content {
	float: right;
	width: 44%; /* 440px */
	background: #ffffff;
	margin: 10px 0 0 0;
	border-top: 3px solid #000000;
	border-bottom: 3px solid #000000;
	padding: 20px 4%;
}

/* --- HEADER --- */

#header {
	text-transform: uppercase;
	text-align: center;
	max-width: 100%;
}

#header h1, #header h2, #header nav.primary_nav{
	font-family: "refrigerator-deluxe-1","refrigerator-deluxe-2",sans-serif;
	line-height: 1em;
}

#header h1 {
	font-size: 5em;
}

#header h1 a:active, #header h1 a:visited, #header h1 a:link {
	color: #454545;
}	

#header h1 a:hover {
	background:none;
	color: #0a8ec0;
}

#header h2 {
	font-size: 2.3em;
}

/* --- PRIMARY NAV --- */

.primary_nav {
	font-size: 2.4em;
	font-weight: bold;
	padding: 8px 0;
}

.primary_nav a:active, .primary_nav a:visited, .primary_nav a:link {
	color: #0a8ec0;
}

.primary_nav a:hover, .primary_nav a.active {
	background: #e5b804;
	color: #FFFFFF;
}

/* --- SECONDARY NAV --- */

.secondary_nav {
	background: #ffffff;
	max-width: 100%;
	margin: 20px 0 0 0;
	text-align: left;
}

.secondary_nav ul {
	border-top: 3px solid #454545;
	padding-top: 20px;
}

.secondary_nav ul li {
	margin-bottom: 5px;
}

.secondary_nav ul li a {
	display: block;
	background: #ebebeb;
	background: rgba(0,0,0,0.1);
	color: #ffffff;
	color: #0a8ec0;
	font-family: "refrigerator-deluxe-1","refrigerator-deluxe-2",sans-serif;
	padding: 10px 10px;
	font-size: 1.3em;
}

.secondary_nav ul li a:hover {
	background: #e5b804;
	color: #ffffff;
}

.secondary_nav ul li a.active {
	text-align: right;
	background: #898989;
	color: #FFFFFF;
}




/* --- MAIN STYLES --- */
 h1, h2, h3, h4, .sans {
	font-family: "refrigerator-deluxe-1","refrigerator-deluxe-2",sans-serif;
}

p {
	font-size: 0.875em;
	line-height: 1.8em;
	margin-bottom: 10px;
}

ul {
	list-style-type: none;
	margin: 0;
}

.content a:hover { color: #000; text-decoration: underline;}

.context a, .gallery ol li a {
	-moz-transition: all 0.2s ease-out;  
	     -o-transition: all 0.2s ease-out;  
	-webkit-transition: all 0.2s ease-out;  
	    -ms-transition: all 0.2s ease-out;  
	        transition: all 0.2s ease-out;
}

.content section {
	margin-bottom: 25px;
}

.content header h1 {
	font-size: 1.3em;
	border-bottom: 1px solid #898989;
	margin-bottom: 15px;
}


/* --- HOME --- */ 

.home h1 {
	font-family: "refrigerator-deluxe-1","refrigerator-deluxe-2",sans-serif;
	font-size: 2.4em;
}



/* --- WORK --- */


.work-content section {
	margin-bottom: 20px;
}

.screenshot {
	max-width: 100%;
	border: 1px solid #898989;
	margin-bottom: 20px;
}

.gallery ol {
	margin: 0;
}

.gallery ol li {
	float: left;
	margin-right: 20px ;
	margin-bottom: 5px;
     -moz-box-shadow: 0px 0px 4px #b0b0b0; 
  -webkit-box-shadow: 0px 0px 4px #b0b0b0; 
          box-shadow: 0px 0px 4px #b0b0b0; 

}

.gallery ol li.last {
	margin-right: 0px;
}

.gallery ol li a {
	display: block;
	width: 95px;
	height: 95px;
}

.gallery ol li a:hover {
	opacity: 0.5;
}

.gallery ol li a img {
	
}


/* --- CONTACT --- */

.contact li {
	margin: 0 0 19px;
}

.contact label {
	display: block;
	font-family: "refrigerator-deluxe-1","refrigerator-deluxe-2",sans-serif;
	padding: 2px 3px;
	margin: 0 0 5px;
}

.contact label.error {
	font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2",serif;
	padding: 5px 0 0 0;
	font-size: 0.825em;
	text-align: right;
}

.contact input, .contact textarea {
	border: 1px solid #ebebeb;
	background: #ebebeb;
	padding: 15px 2%;
	width: 96%;
	color: #0A8EC0;
	font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2",serif;
	font-size: 0.875em;
}

.contact input:focus, .contact textarea:focus {
	background: #FFFFFF;
	border: 1px solid #ebebeb;
}

.contact input.error, .contact textarea.error {
	background: #ffec92;
}

.contact input#submit {
	color: #ffffff;
	font-family: "refrigerator-deluxe-1","refrigerator-deluxe-2",sans-serif;
	font-size: 1.2em;
	background: #0a8ec0;
	width: 100px;
	
	-moz-transition: all 0.2s ease-out;  
	     -o-transition: all 0.2s ease-out;  
	-webkit-transition: all 0.2s ease-out;  
	    -ms-transition: all 0.2s ease-out;  
	        transition: all 0.2s ease-out;
}

.contact input#submit:hover {
	color: #ffffff;
	background: #E5B804;
}

p.success {
	display: block;
	text-align: center;
	padding: 30px 0;
	background: #898989;
	color: #ffffff;
	font-size: 0.875em;
}



/* --- FOOTER --- */
#footer {
	clear: both;
}


/* --- .group! --- */
.group:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.ie6 .group {
	height: 1%;
}

.ie7 .group {
	min-height: 1px;
}






.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {

  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}